/* in scss files within the pages folder (like this file), we can put style that could
 * be in the components folder but actually are going to appear only in this specific page */

.section-about {
  background-color: $color-grey-light-1;
  /* 8rem is the padding we want and +$margin-negative-indentation is to "cancel out" the
   * negative margin-top property set just bellow. In the end we're just doing that so the
   * background color of this element "flows" behind the element above this one.
   * (I looks like a hack to me, maybe there is a better way to do that...) */
  padding: calc(8rem + #{$margin-negative-indentation}) 0 $margin-negative-indentation; // top sides bottom
  /* when you use negative values for margin instead of "expanding" outwards and pushing elements
   * around, it "expands" inwards and this way its box model gets smaller, thus the element gets
   * closer to other elements */
  margin-top: -$margin-negative-indentation;
}

.section-features {
  padding: 15rem 0;
  background-image:
    linear-gradient(
      to right bottom,
      rgba($color-primary-light, .8),
      rgba($color-primary-dark, .8)),
    url("../img/nat-4.jpg");
  background-size: cover;
  // clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
  margin-top: -12rem;
  transform: skewY(-7deg);

  // the `&` is not really necessary bellow but it looks better when being used like that
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  $margin-negative-indentation: 12rem;

  padding: calc(#{$margin-negative-indentation} + 8rem) 0 8rem; // top side bottom
  background-color: $color-grey-light-1;
  margin-top: -$margin-negative-indentation;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}