.header {
  --_header-grid-col: full-start / col-end 6;
  --padding: 4rem 8rem 8rem;
  
  @include respond(largest) {
    --padding: 4rem 4rem 8rem;
    
    &__heading.heading-1 {
      font-size: 4rem;
    }
  }
  
  @include respond(medium) {
    --_header-grid-col: full-start / full-end;
  }
  
  // for narrow smartphones in landscape mode (less than 380px)
  @media only screen and (max-height: 23.75em) {
    --padding: 2rem 4rem;
  }

  background-color: $color-grey-dark-1;
  grid-column: var(--_header-grid-col);

  background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url("../img/hero.jpeg");
  background-position: center;

  padding: var(--padding);

  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr min-content min-content;
  gap: 1.5rem;
  place-items: start;

  &__logo {
    justify-self: center;
    height: 3rem;
  }

  &__seen-on-text {
    align-self: end;
    justify-self: stretch;

    color: $color-grey-light-2;
    font-size: 1.6rem;

    display: flex;
    gap: 2rem;
    align-items: center;

    &::before,
    &::after {
      content: "";
      flex: 1; // so these stretch throughout the their cell
      height: 1px;
      background-color: currentColor;
    }
  }

  &__seen-on-logos {
    justify-self: stretch;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 2.5rem; // this will set the height of the images within
    justify-items: center;
    gap: 3rem;
    
    @include respond(small) {
      grid-template-columns: repeat(2, 1fr);
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      filter: brightness(70%);
    }
  }
}