.sidebar {
  --_btn-w: 4.5rem; // &__btn width

  background-color: $color-primary;

  // yes, this doesn't seem 100% the way it's supposed to be (dunno for sure)
  position: fixed;
  top: 0;
  left: 0;
  width: min(100vw, 30rem); // same width as 1st grid-column (in .container)

  // After so much trying, I found that 120vh for this fixed sidebar is kind of the minimum
  // it has to have to really occupy 100% of the viewport height at all times in mobile,
  // specially when there are no ui elements present, and, at the same, it works the same
  // in desktop and cause no kind extra scrolling.
  height: 120vh;

  // to hide the contents from the sidebar, initially it's closed
  transform: translateX(calc(-100% + var(--sidebar-w)));
  transition: transform 200ms ease-out;

  // translate: 0 0 0;
  
  &--opened {
    transform: translateX(0);
  }

  &__toggle-btn {
    display: block;
    text-align: center;
    border: none;
    border-radius: 3px;
    width: var(--_btn-w);
    aspect-ratio: 1;

    margin-top: 1rem;
    margin-left: auto;
    margin-right: calc((var(--sidebar-w) - var(--_btn-w)) / 2);
    background-color: transparent;
    
    position: relative; // to serve as anchor for &__icon

    transition: transform 100ms;
  }

  &--opened > &__toggle-btn {
    transform: translate(-2rem, 2rem);
  }

  &__icon {
    display: block;
    width: 3.5rem;
    height: .3rem;
    background-color: #fff;
    border-radius: 50px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    // transition-property: background-color;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 50px;
      
      position: absolute;
      transition: transform 300ms;
    }

    &::before {
      transform: translateY(-370%);
    }
    
    &::after {
      transform: translateY(370%);
    }
  }
  
  &--opened &__icon {
    background-color: transparent;

    &::before,
    &::after {
      width: 90%;
      height: 60%;
    }

    &::before {
      transform: rotateZ(-45deg);
    }
  
    &::after {
      transform: rotateZ(45deg);
    }
  }

  &__nav {
    margin-top: 10vh;
    list-style: none;
  }

  &__nav-item {
    display: none;
    padding-left: 2rem;
    transition: background-color 200ms;

    &:hover {
      background-color: darken($color-primary, 15%);
    }
  }

  &--opened &__nav-item {
    display: list-item;
  }

  &__nav-link {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;

    display: block;
    padding: 1.5rem;
  }
}