.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .15;
  top: 0;
  left: 0;
  z-index: -1;
  
  &__content {
    /* object-fit property values are: 
     * cover: covers the whole area and maintains the aspect ratio (some content clip may occur).
     * fill: covers the whole area but doesn't maintain the aspect ratio (no content clipping may occur).
     * contain: makes the element always be contained in its parent and maintains the aspect ratio,
     *          i.e. the element is always touching top/bottom or left/right (whichever is smaller),
     *          because it scales up or down as need to fit as a whole in the parent.
     * scale-down: just like `contain` value but the element only scales down, i.e. once it has
     *             reached its original size it won't scale up anymore, even if there is space to.
     * none: keeps the element's original size but makes sure it still fits its parent (i.e. clips
     *       what is overflowing, if needed, and also applies the value of `object-position`)
     *
     * As used bellow, the <video> content will cover 100% of the parent element height and width,
     * and also maintain its original aspect ratio. Width and height does NOT represent the video
     * dimensions, but the area this video must fit in its parent. 
     * 
     * object-fit property ONLY works alongside height and width (generally both 100%), if there
     * is only height or only width, it's like object-fit wasn't being applied and the content may
     * even overflow the parent (which is something that object-fit also solves for you). */
    
    height: 100%; // height of parent element <video> will be fit in
    width: 100%; // width of parent element <video> will be fit in
    object-fit: cover;

    // this is the default for positioning the element, other values are: left, right, top and bottom.
    // object-position: center; 
  }
}