/* in this file you should put all animations that'll be used in the project */

/* regarding browser performance, it's better to only ever animate the `opacity` and `transform` properties
 * because these only trigger the `composite` phase of rendering the element on screen, the other phases,
 * `style`, `layout` (of elements) and `paint` are skipped.
 *
 * of course you can animate other properties, but remember that browser animations are only optimized for
 * `opacity` and `transform`. This video `https://www.youtube.com/watch?v=N5EW4HnF6FU` demonstrates this in
 * practice.
 *
 * for example when you deal with an element's width or margin you're also messing with the positioning of
 * the elements next to it and because of that, animations with those become less performant and look bad. */
@keyframes moveInLeft {
  0% {
    opacity: 0; /* translateX repositions the element on the x axis relative to its initial position */
    transform: translateX(-10rem); /* the animation starts with the elem. 10rem (100px) to the left */
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0); /* so the elem. is in its final position in the end of the animation */
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); /* the animation starts with the elem. 10rem (100px) to the right */
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0); /* so the elem. is in its final position in the end of the animation */
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); /* the animation starts with the elem. 100px to the right */
  }

  100% {
    opacity: 1;
    transform: translateY(0); /* so the elem. is in its final position in the end of the animation */
  }
}