/* this file as the name suggests will be the base the styles will be build on top of. In here
 * you will set global resets, styles and normalizations */

/* basic "global" reset - affects all html elements including before and after pseudo-elements */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  /* every element will inherit its box-sizing from its parent, which in this case will be the value
   * `box-sizing: border-box` set in <body>. Doing it this way (via inheritance) is considered a slightly
   * better approach than just setting it via the universal selector (I just dunno why) */
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 62.5% * 16px (which is generally browser font-size) = 10 px, thus 1rem = 10px */
  /* rem is not supported bellow IE 9 */
}

body {
  /* everything related to "global" fonts should be done in the body tag selector, because
   * this way every element within <body> will inherit these style and its also more efficient
   * that doing the same via the `*` selector, which selects each element "individually", here
   * we're using the power of inheritance */

  box-sizing: border-box; /* margins and paddings are NOT added to the total size of the element */
}