/* in this file you should put styles related to the general typography of the website */

body {
  font-family: "Lato", sans-serif; /* Use "Lato" font-family if available, otherwise use "sans-serif" */
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7; /* now line-height will be 1.7x bigger than the pre-defined line-height*/
  color: $color-grey-dark; /* sets text color */
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* maybe this is needed if animations (of child elements of this) flick, this prop somehow fixes it */
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
  
    animation-name: moveInLeft;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;

    /*
    animation-delay: 3s; - delay for the animation to start
    animation-iteration-count: 3; - how many times should the animation be repeated
    */

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
  
    animation: moveInRight 1.3s ease-out; /* this is the shortcut for everything described bellow */
    /* animation-name: moveInRight;
    animation-duration: 1.3s;
    animation-timing-function: ease-out; */

    @include respond(phone) {
      letter-spacing: .5rem;
      font-size: 1.7rem;
    }
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);

  /* by default the `background`(shortcut), `background-color` and `background-images` properties fill
   * the whole border-box, but via the `background-clip` property you can change this behavior to:
   * `padding-box`, `content-box` or `text`, so that the background you fill only this specific area. */
  background-clip: text;
  color: transparent; // is needed so the clipped background can show.

  letter-spacing: 2px; // this is such a small unit that it makes no difference if it's in rem or px;
  transition: all .2s;

  @include respond(tab-port){
    font-size: 3rem;
  }

  @include respond(phone){
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}