/* in this file you'll have utility classes which are generic classes that have a single
 * or simple style declaration that can be reused throughout the project */

.u-center-text {
  text-align: center;
}

.u-margin-bottom-extra-small { margin-bottom: 1rem; }
.u-margin-bottom-small { margin-bottom: 2rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 8rem; }

.u-padding-left-small { padding-left: 1rem; }

.u-pos-relative { position: relative; }
.u-pos-absolute { position: absolute; }