.container {
  max-width: 120rem; // 1200px or 100% (whichever is smaller)
  min-height: 50rem; // for testing purposes
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
}