.container {
  max-width: 120rem; // 1200px or 100% (whichever is smaller)
  min-height: 50rem; // for testing purposes
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  border-radius: 5px;
  overflow: hidden;

  @include respond(tab-land) {
    margin: 0;
    border-radius: 0;
  }
}