.detail {
  --_padding: 4.5rem;

  @include respond(medium) {
    --_padding: 3rem;
  }

  @include respond(small) {
    flex-direction: column;
  }

  font-size: 1.4rem; // so child elements automatically inherit this value

  display: flex;
  gap: var(--_padding);

  padding: var(--_padding);
  background-color: var(--color-grey-light-1);
  border-bottom: var(--grey-light-line);
  
}