.list {
  list-style: none;
  // background-color: lightgreen;

  padding: 3rem 0;
  margin: 3rem 0;
  border-top: var(--grey-light-line);
  border-bottom: var(--grey-light-line);

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  // row-gap column-gap
  gap: .7rem 1rem;

  &__item {
    flex: 1 0 40%;
    // border: 2px solid blue;

    &::before {
      content: "";
      width: 1rem;
      height: 1rem;
      display: inline-block;
      vertical-align: middle;
      margin-right: .4rem;

      /* To use SVGs directly in css, it can be as simple as defining an background-image
       * which is actually the url() of the SVG, the only downside of this approach is that
       * this way you cannot really change the (fill)color of the SVG - Use that for really
       * old browsers support */
      // background-image: url("../img/chevron-thin-right.svg");
      // background-size: cover;

      /* On newer browsers, use a mask, which defines an area that we can look through, this
       * way, now we can set the SVG area as the mask to let a background-color pass through.
       * It's similar to clipping. */
      background-color: var(--color-primary); // color that will pass through the mask
      // postcss autoprefixer will add prefixes later on
      mask-image: url("../img/chevron-thin-right.svg"); // usage similar to background-size
      mask-size: cover; // usage similar to background-size
    }
  }
  

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
  }
}