.side-nav {
  --_flex-grow: initial;
  --_flex-dir: column;
  --_m-top: 3.5rem;
  --_gap: .5rem;
  --_link-padding: 1.5rem 3rem;
  --_link-justify-content: initial;
  --_link-flex-gap: 2rem;
  --_link-flex-dir: initial;
  --_link-span-line-height: inherit;
  
  @include respond(medium) {
    --_flex-grow: 1;
    --_flex-dir: row;
    --_m-top: 0;
    --_gap: 0;
    --_link-padding: 1.5rem 0;
    --_link-justify-content: center;
    --_link-flex-gap: 1.2rem;
  }
  
  @include respond(x-small) {
    --_link-padding: 1rem 0;
    --_link-flex-gap: .8rem;
    --_link-flex-dir: column;
    --_link-span-line-height: 1;
  }

  flex-grow: var(--_flex-grow);
  
  font-size: 1.4rem;
  list-style: none;
  margin-top: var(--_m-top);
  
  display: flex;
  flex-direction: var(--_flex-dir);
  gap: var(--_gap);


  &__item {
    position: relative;
    flex: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 5px;
      background-color: var(--color-primary);

      //          prop      time   prop  time    timing-function     delay 
      transition: transform 200ms, width 400ms cubic-bezier(1,0,0,1) 200ms, background-color 100ms;
      transform: scaleY(0); // for height
      // transform-origin: center; // this is the default
      
    }

    /* Even though &__item is a <li>, we can still use the :active pseudo-class to apply styles to
     * it when it's being clicked (or pressed). */
    &:active::before {
      background-color: var(--color-primary-light);
    }
    
    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }
  }

  &__link {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: var(--_link-padding);
    margin: 0 auto;

    // so that the link text and svg icon are above the &__item::before
    position: relative;
    z-index: 1; // only works when there is a position other than "static" (default)

    // to vertically align (center) the link text and svg icon
    display: flex;
    flex-direction: var(--_link-flex-dir);
    align-items: center;
    justify-content: var(--_link-justify-content);
    gap: var(--_link-flex-gap);

    & span {
      line-height: var(--_link-span-line-height);
    }
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;

    /* currentColor is a built-in value that represent the current value of the `color`
     * property of the current element, or, if the current element has no `color` set,
     * currentColor represents the `color` set in the parent element - which is just what
     * is happening bellow, it getting the current `color` of the &__link element. Using
     * this `currentColor` value you, for example, can only care about changing the color
     * of the parent element and doesn't need to bother setting the same color for the
     * child element according to that specific state of its parent. */
    fill: currentColor; // even Internet Explorer supports it
  }
}