.user-nav {
  &__icon-box {

  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__icon-notification {

  }

  &__user {

  }

  &__user-photo {
    height: 3.25rem;
    border-radius: 50%;
  }

  &__user-name {

  }
}