.navigation {
  // the underscore indicates that these bellow are not global custom properties
  --_button-top: 6rem;
  --_button-right: 6rem;

  /* To make it all much more scalable, simpler to use and maintainable, its a pretty
   * good idea to use css custom properties to change base values in many places at the
   * same time, and based on that, in lots of cases, within media queries it's so much
   * easier to just change these custom properties values instead of creating a media
   * query within each selector and describing multiple css properties which in the end
   * have a single base value as reference. In the usage below, it is actually changing
   * the `top` and `right` properties of both `&__button` and also `&__background` (in
   * a single media query with just 2 lines! it's less then half we'd have to write if
   * were doing it according to isolate selectors or properties).
   *
   * THIS SIMPLY CANNOT BE DONE WITH SASS VARIABLES because these don't exist in the
   * final compiled css, thus the will be nothing to be dynamically changed there. */
  @include respond(tab-port) {
    --_button-top: 2.5rem;
    --_button-right: 3.5rem;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    // this button will be a bit bigger than the background when it's not expanded
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    z-index: 1002;  // above &__background and &__nav
    top: var(--_button-top);
    right: var(--_button-right);
    line-height: 7rem;
    background-color: $color-white;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba($color-black, .1);
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    z-index: 1000; // above &__nav and below &__button
    top: calc(var(--_button-top) + .5rem);
    right: calc(var(--_button-right) + .5rem);

    /* While `linear-gradient` goes from side to side, the `radial-gradient` starts at the center
     * and expands outwards. first you define the color in the center and after the outer color */
    background-image: radial-gradient($color-primary-light, $color-primary-dark);

    transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);
  }

  &__nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1001; // below &__background and &__button
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden; // so that it's really not "in the page", not just not appearing
    transform: translateX(-500px);
    transition: opacity .4s cubic-bezier(.46,0,.36,0), transform .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transition-delay: .2s;
  }

  &__list {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    display: inline-block; // so padding and transform works
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
    background-size: 225%;
    transition: all .3s;

    span {
      margin-right: 1.5rem;
    }

    &:hover,
    &:active,
    &:focus {
      /* when a percentage is used like that (below), the background X coordinate goes to the percentage
       * with a Y coordinate set to 50%. So in the end, the thick is: expand the "solid part" of the
       * background until it disappears (as done above) and then, on hover, focus and active, bring the
       * background-position to 100% so the solid part of it reappears. */
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  // FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(90);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
  }

  // ICON
  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // styles shared by the element, ::before and ::after
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: ""; // without content, these wouldn't appear
      position: absolute;
      transition-property: translate, rotate, opacity;
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;
    }

    &::before { top: -.8rem; }
    &::after { top: .8rem; }
  }

  &__button:hover &__icon {
    &::before { translate: 0 -.2rem; }
    &::after { translate: 0 .2rem; }
  }

  &__checkbox:checked + &__button &__icon {
    /* so the actual <span> element "disappears", ::before and ::after are not affected,
     * if we'd use `opacity instead, everything would disappear `*/
    background-color: transparent;

    &::before {
      rotate: -45deg;
      translate: 0 .8rem;
    }
    &::after {
      rotate: 45deg;
      translate: 0 -.8rem;
    }
  }

}