/* in thw "7-1 architecture" this main.scss file only serves to import other files 
@import "folder/file"; --> will import `folder/_file.scss` */
/* this file as the name suggests will be the base the styles will be build on top of. In here
 * you will set global resets, styles and normalizations */
/* basic "global" reset - affects all html elements including before and after pseudo-elements */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* every element will inherit its box-sizing from its parent, which in this case will be the value
   * `box-sizing: border-box` set in <body>. Doing it this way (via inheritance) is considered a slightly
   * better approach than just setting it via the universal selector (I just dunno why) */
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* rem is not supported bellow IE 9 */
}

body {
  box-sizing: border-box; /* margins and paddings are NOT added to the total size of the element */
}

/* in this file you should put styles related to the general typography of the website */
body {
  /* everything related to "global" fonts should be done in the body tag selector, because
   * this way every element within <body> will inherit these style and its also more efficient
   * that doing the same via the `*` selector, which selects each element "individually", here
   * we're using the power of inheritance */
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; /* now line-height will be 1.6x bigger than the pre-defined line-height*/
}

[class^=heading-] {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.heading-4 {
  font-size: 1.9rem;
  color: #f9f7f6;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483A;
}

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  align-items: start;
  gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.container {
  display: grid;
  justify-content: center;
  grid-template-rows: 80vh auto 40vw repeat(3, auto);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.header {
  background-color: #54483A;
  grid-column: full-start/col-end 6;
}

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
}

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
}

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7/full-end;
}

.feature {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1.5rem 2.5rem;
}
.feature__icon {
  width: 4.5rem;
  height: 4.5rem;
  fill: #c69963;
}
.feature__text {
  font-size: 1.7rem;
  grid-column: -2;
}

.gallery {
  background-color: #54483A;
  grid-column: full-start/full-end;
}

.homes {
  background-color: #101d2c;
  grid-column: center-start/center-end;
}

.story__pictures {
  background-color: #c69963;
  grid-column: full-start/col-end 4;
}
.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end;
}

/*# sourceMappingURL=style.css.map */
