/* in this file you should put styles related to the general typography of the website */

body {
  /* everything related to "global" fonts should be done in the body tag selector, because
   * this way every element within <body> will inherit these style and its also more efficient
   * that doing the same via the `*` selector, which selects each element "individually", here
   * we're using the power of inheritance */

  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6; /* now line-height will be 1.6x bigger than the pre-defined line-height*/
}

// every element with a class name that starts with "heading-"
[class^="heading-"] {
  font-family: $font-display;
  font-weight: 400;
  line-height: 1;
}

.heading-1 {

}

.heading-2 {

}

.heading-3 {

}

.heading-4 {
  font-size: 1.9rem;
  color: $color-grey-light-1; // default is just like &--light

  &--light { color: $color-grey-light-1; }
  &--dark { color: $color-grey-dark-1; }
}