/* in this file you should put styles related to the general typography of the website */

body {
  /* everything related to "global" fonts should be done in the body tag selector, because
   * this way every element within <body> will inherit these style and its also more efficient
   * that doing the same via the `*` selector, which selects each element "individually", here
   * we're using the power of inheritance */

  font-family: $font-primary;
  color: var(--color-grey-dark-2);
  font-weight: 300;
  line-height: 1.6; /* now line-height will be 1.6x bigger than the pre-defined line-height*/
}

// In final css, classed within which this %placeholder is used will be grouped together
%heading-common {
  font-family: $font-display;
  font-weight: 400;
  line-height: 1;
  text-wrap: pretty;
}

// These could not be added via a %placeholder, so a mixin is the way to go, instead of grouping
// selectors together, this mixin will add the these styles in each selector where its used within.
@mixin heading-variants {
  &--light {
    color: var(--color-grey-light-1);
  }

  &--dark {
    color: var(--color-grey-dark-1);
  }
}

.heading-1 {
  @include heading-variants;
  @extend %heading-common;

  font-size: 4.5rem;
  color: var(--color-grey-light-1);
  line-height: 1;
}

.heading-2 {
  @extend %heading-common;
  @include heading-variants;
  
  font-size: 4rem;
  font-style: italic; // it's only possible because we got the font's italic style from google fonts
}

.heading-3 {
  @extend %heading-common;
  @include heading-variants;
  
  font-size: 1.6rem;
  color: var(--color-primary);
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading-common;
  @include heading-variants;
  
  font-size: 1.9rem;
}